trigger:
  tags:
    include: [ '*' ]

jobs:
  - job: publish_tauri
    strategy:
      matrix:
        macos:
          vmImage: 'macos-latest'
          TAURI_ARGS: '--target universal-apple-darwin'
          OS_NAME: 'macos'
          ARTIFACT_PATH: 'src-tauri/target/universal-apple-darwin/release/bundle'
        linux:
          vmImage: 'ubuntu-22.04'
          TAURI_ARGS: ''
          OS_NAME: 'linux'
          ARTIFACT_PATH: 'src-tauri/target/release/bundle'
        windows:
          vmImage: 'windows-latest'
          TAURI_ARGS: '--bundles nsis'
          OS_NAME: 'windows'
          ARTIFACT_PATH: 'src-tauri/target/release/bundle'

    pool:
      vmImage: $(vmImage)

    steps:
      - checkout: self
        fetchDepth: 0

      - task: Cache@2
        inputs:
          key: 'pnpm | "$(Agent.OS)" | **/pnpm-lock.yaml'
          path: $(Pipeline.Workspace)/.pnpm-store
        displayName: 'Cache pnpm'

      - task: Cache@2
        inputs:
          key: 'cargo-reg | "$(Agent.OS)" | src-tauri/Cargo.lock'
          path: $(HOME)/.cargo
        displayName: 'Cache Cargo Registry'

      - task: Cache@2
        inputs:
          key: 'cargo-target-release | "$(Agent.OS)" | src-tauri/Cargo.lock'
          path: src-tauri/target
        displayName: 'Cache Rust Release Target'

      - task: UseNode@1
        inputs: { version: '20.x' }

      - script: corepack enable && pnpm install
        displayName: 'Install Frontend Deps'

      - script: |
          rustup toolchain install stable --profile minimal
          rustup default stable
        displayName: 'Install Rust'

      - script: rustup target add aarch64-apple-darwin x86_64-apple-darwin
        displayName: 'Add macOS targets'
        condition: eq(variables['Agent.OS'], 'Darwin')

      - script: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
        displayName: 'Install Linux Deps'
        condition: eq(variables['Agent.OS'], 'Linux')

      - script: pnpm tauri build $(TAURI_ARGS)
        displayName: 'Build Tauri App (Release)'

      - task: PublishBuildArtifacts@1
        displayName: 'Publish Release Bundles'
        inputs:
          pathToPublish: $(ARTIFACT_PATH)
          artifactName: 'Tauri-App-$(OS_NAME)'